.body{max-width:900px;margin: auto;}
.header{text-align:center;padding: 12px;background:#f2f2f2;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
}

.active {
  background-color: #4CAF50;
}


.ck{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0;
 
}












.ll{margin-top: 90px;}



.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


 li{ 	list-style:none; 
		
 }



.kk{
	max-width:900px;
	text-align:center;
    	position:absolute;
    	left:0;
    	top: 190px;
   	bottom: 0;
   	right: 0;
   	margin: auto;
    

}



#aa{
  font-size: 20px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  float:left;
   display:inline;
	width:70px;
	height:30px;
	text-align:center;
	margin-top: 37px;
	line-height:30px;
	margin-left:10px;
}

#al{
 	float:left;
   display:inline;
	width:100px;
	height:30px;
	text-align:center;
	margin-top: 30px;
	line-height:30px;
	margin-left:20px;
}






















 
 /*--------浏览器底部---------*
footer{
    border-top:2px solid #ddd;
    padding:8px;
    margin:0;
    color:#444;
    text-align: center;
	bottom: 20px;
	width:1000px;
	position: fixed;
	margin: auto;
	line-height: 25px;
	
}*/



/********页面底部***********/
footer{
	bottom: 20px;
	right: 0;
	max-width: 900px;
	margin: auto;
	line-height: 25px;
	border-top:2px solid #ddd;
    padding:8px;
    margin:0;
    color:#444;
    text-align: center;
    letter-spacing: 2px
}
